@media only screen and (max-width: 667px) {
  .cartImg {
    height: 200px;
    width: 200px;
  }
  .cartItem {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
  }

  .remove {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    background-color: #e7e7e7;
    border: none;
    text-decoration: none;
    margin-top: 20px;
    width: 50%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  #checkout {
    margin-bottom: 50px;
  }
  .cart {
    padding-top: 15px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 668px) {
  .cartImg {
    height: 160px;
    width: 160px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .cartItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #c6c6c6;
    background-color: white;
  }

  .cartinfo {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    text-align: left;
    line-height: 15px;
    padding-top: 15px;
  }

  .subtitle {
    margin-right: 60px;
  }

  .shoetitle {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }

  .remove {
    font-size: 20px;
    background-color: #e7e7e7;
    border: none;
    text-decoration: none;
    margin-top: 20px;
    width: 20%;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-right: 50px;
    padding-right: 3px;
  }

  .cart {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
  }

  #checkout {
    margin-right: 5px;
    margin-left: 80px;
    margin-top: 70px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 5px;
    height: 350px;
    width: 20%;
  }

  .no {
    margin: auto;
  }

  .flex {
    display: flex;
    flex-direction: column;
  }
  .col {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 40px;
  }

  #total {
    padding-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .title {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1025px) {
  .cartImg {
    height: 195px;
    width: 195px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .cartItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #c6c6c6;
    background-color: white;
  }

  .cartinfo {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    text-align: left;
    line-height: 15px;
  }

  .subtitle {
    margin-right: 60px;
  }

  .shoetitle {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }

  .remove {
    font-size: 26px;
    background-color: #e7e7e7;
    border: none;
    text-decoration: none;
    margin-top: 20px;
    width: 20%;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-left: 105px;
    margin-right: 10px;
    padding-right: 5px;
  }

  .cart {
    padding-top: 200px;
    display: flex;
    flex-direction: row;
  }

  #checkout {
    margin-right: 5px;
    margin-left: 80px;
    margin-top: 69px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 40px;
    height: 300px;
    width: 20%;
  }

  .no {
    margin: auto;
    background-color: white;
    padding: 200px 300px;
  }

  .flex {
    display: flex;
    flex-direction: column;
  }
  .col {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-left: 40px;
  }

  #total {
    padding-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 5px;
  }

  .notlog {
    margin-top: 125px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    border-bottom: 2px black solid;
    border-right: 3px;
    border-left: 3px;
    padding-bottom: 2px;
  }
}
.remove {
  font-family: "Cantarell";
}
