@media only screen and (min-width: 1035px) {
  #landing {
    padding-top: 100px;
  }
  .landingtoppic {
    height: 100%;
    width: 100%;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
  }

  .landingtopInfo {
    color: #dddddd;
    position: absolute;
    top: 35%;
    left: 15%;
    z-index: 4;
    border: 2px solid #dddddd;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
  }
  .landLink:hover {
    cursor: pointer;
  }
}
