/* FOR MOBILE DEVICES */

@media only screen and (max-width: 667px) {
  #logo {
    height: 150px;
    width: 150px;
  }

  nav,
  a {
    color: black;
    font-size: 20px;
  }

  a:link {
    color: black;
    text-decoration: none;
  }

  a:visted {
    color: black;
  }

  .log {
    font-size: 20px;
    border: none;
    background-color: #e5e5e5;
  }
  header {
    background-color: #e5e5e5;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 668px) {
  #logo {
    height: 200px;
    width: 200px;
    margin: auto;
  }

  nav,
  a {
    color: black;
    font-size: 22px;
  }

  a:link {
    color: black;
    text-decoration: none;
  }

  a:visted {
    color: black;
  }

  .log {
    font-size: 22px;
    border: none;
    background-color: #e5e5e5;
  }
  header {
    background-color: #e5e5e5;
  }
}

@media only screen and (min-width: 1025px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    top: 0;
    padding: 10px 16px;
    width: 100%;
    background-color: #e5e5e5;
    z-index: 2;
    height: 13vh;
  }
  nav {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    align-items: flex-end;
  }
  #logo {
    height: 100px;
    width: 100px;
    text-align: center;
    margin-left: 10px;
  }

  nav,
  a {
    color: black;
    font-size: 26px;
  }

  a:link {
    color: black;
    text-decoration: none;
  }

  a:visted {
    color: black;
  }

  .log {
    font-size: 26px;
    background-color: #e5e5e5;
    border: none;
    font-family: "Cantarell";
  }
}
