@media only screen and (max-width: 667px) {
  .pastPurImg {
    height: 200px;
    width: 200px;
  }

  #customer {
    font-size: 15px;
    line-height: 10px;
  }

  #edit {
    width: 75%;
    margin: auto;
  }

  .editBtn {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    background-color: #e7e7e7;
    border: none;
    text-decoration: none;
    margin-top: 5px;
    width: 50%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border-radius: 8px;
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 668px) {
  .pastPurImg {
    height: 225px;
    width: 225px;
  }
  #customer {
    font-size: 15px;
    line-height: 10px;
  }
  #edit {
    width: 75%;
    margin: auto;
  }
  .editBtn {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    background-color: #e7e7e7;
    border: none;
    text-decoration: none;
    margin-top: 5px;
    width: 50%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border-radius: 8px;
    margin-bottom: 5px;
  }
}

@media only screen and (min-width: 1025px) {
  #profile {
    padding-top: 200px;
    display: flex;
    flex-direction: row;
  }
  #purchases {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    width: 25%;
    border: 2px solid #c6c6c6;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .pastPurImg {
    height: 225px;
    width: 225px;
  }
  #custinfo {
    margin-left: 100px;
    width: 50%;
    padding-top: 10px;
  }
  #userInfo p {
    line-height: 5px;
  }
  .editBtn {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    background-color: #e7e7e7;
    border: none;
    text-decoration: none;
    margin-top: 15px;
    width: 50%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border-radius: 8px;
    margin-bottom: 5px;
    white-space: nowrap;
    height: 5vh;
  }
}
